In [34]:
import os
import pandas as pd
import numpy as np

path = r"C:\Users\hugoa\Downloads\archive"
archivename = "AirPassengers.csv"
abrido = os.path.join(path,archivename)

df = pd.read_csv(abrido)

window = int(input("ingresa la ventana que quieres que tenga para la media movil"))

df["rolling"] = np.nan

for i in range((window-1), len(df)):
    listado = df.iloc[(i-window+1):i+1, 1]
    df.iloc[i, 2] = listado.mean()


df.head()

     Month  #Passengers     rolling
0  1949-01          112         NaN
1  1949-02          118         NaN
2  1949-03          132  120.666667
3  1949-04          129  126.333333
4  1949-05          121  127.333333